<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <welcome-file-list>
        <welcome-file>/index.html</welcome-file>
    </welcome-file-list>

    <display-name>CRUD Servlet</display-name>
    <servlet>
        <servlet-name>CartiResource</servlet-name>
        <servlet-class>app.resource.CartiResource</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>OrderResource</servlet-name>
        <servlet-class>app.resource.OrderResource</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>app.resource.UserLoginServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>UserLogoutServlet</servlet-name>
        <servlet-class>app.resource.UserLogoutServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLogoutServlet</servlet-name>
        <url-pattern>/logout/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/login/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderResource</servlet-name>
        <url-pattern>/order/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartiResource</servlet-name>
        <url-pattern>/carti/*</url-pattern>
    </servlet-mapping>

</web-app>
